Repository hmcts/ccpay-notifications-service, pull requests merged in 2022-12, with the labels that each got.

#99 Pay 5805
  src/functionalTest/java/uk/gov/hmcts/reform/notifications/functional/NotificationsServiceFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/notifications/dtos/response/NotificationDto.java
  src/main/java/uk/gov/hmcts/reform/notifications/mapper/NotificationResponseMapper.java
  src/test/java/uk/gov/hmcts/reform/notifications/mappers/NotificationResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/notifications/service/NotificationServiceImplTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-notifications-service-pr-99

#105 creating demo int db for notif service
  config/owasp/suppressions.xml
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-notifications-service-pr-105

#106 PAY-5782 Chart version upgrade
  charts/ccpay-notifications-service/Chart.yaml
  charts/ccpay-notifications-service/values.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-notifications-service-pr-106

#107 CVE Suppression Date Update
  config/owasp/suppressions.xml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-notifications-service-pr-107

#110 assign refund ref in doc preview
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/notifications/service/NotificationServiceImpl.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-notifications-service-pr-110

#111 PAY-5851 Refunds V2 - Notification from value to be stored in db
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/notifications/functional/NotificationsServiceFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/notifications/mapper/NotificationTemplateResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/notifications/model/ServiceContact.java
  src/main/java/uk/gov/hmcts/reform/notifications/service/NotificationServiceImpl.java
  src/main/resources/db/changelog/db.changelog-0.4.yaml
  src/main/resources/db/changelog/db.changelog-0.5.yaml
  src/main/resources/db/changelog/db.changelog-master.xml
  src/main/resources/db/changelog/db.changelog-master.yaml
  src/test/java/uk/gov/hmcts/reform/notifications/controllers/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/notifications/service/NotificationServiceImplTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-notifications-service-pr-111

#108 PAY-5825
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/notifications/exceptions/RefundReasonNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/notifications/model/NotificationRefundReasons.java
  src/main/java/uk/gov/hmcts/reform/notifications/repository/NotificationRefundReasonRepository.java
  src/main/java/uk/gov/hmcts/reform/notifications/service/NotificationServiceImpl.java
  src/main/resources/db/changelog/db.changelog-0.4.yaml
  src/test/java/uk/gov/hmcts/reform/notifications/controllers/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/notifications/service/NotificationServiceImplTest.java
Labels: ns:fees-pay, prd:ccpay, add-or-update, rel:ccpay-notifications-service-pr-108

#114 ft added-PAY-5825
  src/functionalTest/java/uk/gov/hmcts/reform/notifications/functional/NotificationsServiceFunctionalTest.java
Labels: ns:fees-pay, prd:ccpay, add-or-update, rel:ccpay-notifications-service-pr-114

#113 Pay 5782 with auth
  src/main/java/uk/gov/hmcts/reform/notifications/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/notifications/controllers/NotificationController.java
Labels: ns:fees-pay, prd:ccpay, add-or-update, rel:ccpay-notifications-service-pr-113

#115 payment app call removed and null validation added
  src/main/java/uk/gov/hmcts/reform/notifications/config/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/reform/notifications/controllers/ExceptionHandlers.java
  src/main/java/uk/gov/hmcts/reform/notifications/dtos/request/DocPreviewRequest.java
  src/main/java/uk/gov/hmcts/reform/notifications/dtos/request/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/notifications/exceptions/DocPreviewBadRequestException.java
  src/main/java/uk/gov/hmcts/reform/notifications/service/NotificationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/notifications/controllers/NotificationControllerTest.java
Labels: ns:fees-pay, prd:ccpay, add-or-update, rel:ccpay-notifications-service-pr-115
