Repository hmcts/ccpay-notifications-service, pull requests merged in 2023-01, with the labels that each got.

#117 PAY-5873 remove Unable to apply refund to Card
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/notifications/dtos/request/RefundNotificationEmailRequest.java
  src/main/java/uk/gov/hmcts/reform/notifications/dtos/request/RefundNotificationLetterRequest.java
  src/main/java/uk/gov/hmcts/reform/notifications/service/NotificationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/notifications/controllers/NotificationControllerTest.java
Labels: ns:fees-pay, prd:ccpay, destroy, rel:ccpay-notifications-service-pr-117

#121 Adding xuiwebapp in OIDC Audience list
  charts/ccpay-notifications-service/Chart.yaml
  charts/ccpay-notifications-service/values.yaml
  config/owasp/suppressions.xml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-notifications-service-pr-121

#122 chart version update and added xui in oidc
  charts/ccpay-notifications-service/Chart.yaml
  charts/ccpay-notifications-service/values.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-notifications-service-pr-122

#123 Updating OIDC Audience list
  charts/ccpay-notifications-service/Chart.yaml
  charts/ccpay-notifications-service/values.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-notifications-service-pr-123

#125 Update jenkins after to afterAlways
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/ccpay-notifications-service/Chart.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-notifications-service-pr-125

#120 liquibase changes for service contact
  src/main/java/uk/gov/hmcts/reform/notifications/mapper/NotificationTemplateResponseMapper.java
  src/main/resources/db/changelog/db.changelog-0.5.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-notifications-service-pr-120

#126 Upgraded Terraform version to 1.3.7
  infrastructure/.terraform-version
Labels: ns:fees-pay, prd:ccpay, add-or-update, rel:ccpay-notifications-service-pr-126

#127 add notifications in path
  src/functionalTest/java/uk/gov/hmcts/reform/notifications/functional/config/NotificationsTestService.java
  src/main/java/uk/gov/hmcts/reform/notifications/controllers/NotificationController.java
  src/test/java/uk/gov/hmcts/reform/notifications/controllers/NotificationControllerTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-notifications-service-pr-127

#130 post look up secert read
  build.gradle
  charts/ccpay-notifications-service/Chart.yaml
  charts/ccpay-notifications-service/values.yaml
  src/main/resources/application.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-notifications-service-pr-130

#131 jar update
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-notifications-service-pr-131
